/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
  overflow: hidden;
}

/* Splash Screen */
.splash-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  opacity: 0.9;
  flex-direction: column;
  text-align: center;
  animation: fadeIn 2s ease-in-out;
}

/* Animación de fade-in para el splash screen */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Contenido animado dentro del splash */
.splash-content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  animation: bounceIn 2s ease-in-out;
}

/* Animación de rebote (bounce) */
@keyframes bounceIn {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.splash-content p {
  font-size: 1.2rem;
  animation: fadeInUp 2s ease-in-out;
}

/* Animación de fade-in para el texto */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Contenido principal después del Splash */
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  display: none; /* Inicialmente oculto */
}

/* Botón */
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}
